@import "colors";

body {
  background-color: $foreground-color;
  color: $font-color;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}