@import "colors";

$container-border-color: $font-color;


#canvas_container {
  width: $canvas-width;
  height: $canvas-height;
  border: 1px solid $container-border-color;
  margin-right: $main-lr-shift;
  // margin: 20px auto;
}